body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #1e293b;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    background: #2563eb;
    color: white;
    padding: 80px;
    text-align: center;
}

.bloc {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 260px;
}

form {
    max-width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 10px;
}